<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>CoustomerServlet</servlet-name>
		<servlet-class>xyz.oyzbb.user.servlet.CoustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CoustomerServlet</servlet-name>
		<url-pattern>/coustomerServlet</url-pattern>
	</servlet-mapping>
</web-app>